# list of gitignore
# https://www.geeksforgeeks.org/git/git-ignore-and-gitignore/

# sensitive documents
.bts/docs/
.bts/learning_playtrough

# Python cache files
**/__pycache__/

# unused unimportant files
Experiments/
build/build_temp

# final executionable file
pages/SIRENIA.exe

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# developer only